[ req ]
prompt = no
distinguished_name = req_distinguished_name


[ req_distinguished_name ]
countryNmae		= us
stateOrProvinceNmae	= New York
localityNmae		= New York
0.organizationName	= Example from Apress Media LLC
organizationalUnitName	= Foundations of Python Network Programing 3rd Ed
commonNmae		= www.example.com
emailAddress		= root@example.com

[ ssl_client ]
basicConstraints = CA:FALSE
nsCertType = client
keyUsage = digitalSignature, keyEncipherment
extendedKeyUsage = clientAuth
